.book {
    padding: 1rem 0;
    display: flex;
}
.book-num {
    color: #999;
    width: 2rem;
    display: none;
}
.book-block {
    padding: 0 1rem 0 0;
    flex-grow: 1;
    color: #666;
}
.book-block div:first-child {
    color: #000;
    font-size: 1.3rem;
}
.book-library {
    list-style: none;
    width: 5rem;
    padding: 0;
}

.result_count {
    color: #888;
}
.anan h1 {
    margin: 1rem 0;
}
.anan form {
    display: flex;
    width: 60%;
}
.anan .inputs {
    flex-grow: 1;
    display: flex;
    margin: 0 0 1rem;
    padding: .3rem .5rem .3rem 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
}

.anan .inputs:hover,
.anan .i_focus {
    box-shadow: 1.5px 1.5px 3px #ddd;
}
.anan [type="search"] {
    flex-grow: 1;
    border: none;
    font-size: 1.2rem;
}
.anan [type="submit"] {
    border: none;
    background-color: white;
    color: #0056b3;
}
.anan [type="submit"]:hover {
    cursor: pointer;
}